<table class="table-employees">
  <thead>
    <tr>
      <th class="head-table" *ngFor="let display of displayedColumns">
        {{display}}
      </th>
    </tr>
  </thead>  
  <tbody>
  <tr class="row-table" *ngFor="let item of userdata "> 
    <td name="Code">{{item.code}}</td>
    <td name="Name">{{item.name}}</td>
    <td name="Salary">{{item.salary}}</td>
    <td name="Role">{{item.role}}</td>
    <td name="Action"> 
      <button mat-flat-button color="accent" (click)="updateUser(item.id, item)" style="margin-right: 10px;">Edit</button>
      <button mat-flat-button color="warn" (click)="deleteUser(item.id)">Delete</button>
    </td>
  </tr>
</tbody>
</table>

<div [id]="show" class="hidden" >
  <form class="content" #updateNew="ngForm" (ngSubmit)="updateNewUser(number.value, updateNew.value)" >
    <a class="close" href="#">&times;</a>
            <mat-list role="list">
            <mat-form-field class="example-form" style="display: none;">
            <mat-label>No</mat-label>
            <input #number matInput name="code" [value]="id">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Code</mat-label>
            <input matInput [ngModel]="code" name="code" [value]="code">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Name</mat-label>
            <input matInput [ngModel]="name" name="name" [value]="name">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Salary</mat-label>
            <input matInput [ngModel]="salary"  name="salary" [value]="salary">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Role</mat-label>
            <input matInput [ngModel]="role" name="role"[value]="role">
            </mat-form-field>
      </mat-list>
      <button mat-flat-button color="primary" style="width: 50%;">Update</button>
  </form>
</div>

