<form class="example-full-width" #userForm="ngForm" (ngSubmit)="getUserForm(userForm.value)">
      <mat-list role="list">
            <mat-form-field class="example-form">
            <mat-label>ID Card</mat-label>
            <input matInput placeholder="" ngModel name="code">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" ngModel name="name">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Salary</mat-label>
            <input matInput placeholder=""  ngModel name="salary">
            </mat-form-field>
            <mat-form-field class="example-form">
            <mat-label>Role</mat-label>
            <input matInput placeholder="" ngModel name="role">
            </mat-form-field>
      </mat-list>
      <button mat-flat-button color="primary" style="width: 50%;">Submit</button>
  </form>
  
